<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>Results</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    </head>
    <body>
        <div class="jumbotron">
            <nav>
                <ul class="nav nav-pills pull-right" style="padding-top:35px;padding-right:20px">
                    <li role="presentation"><a href="/">Go Back</a></li>
                </ul>
            </nav>
            <div class="container">
                <h1>About</h1>
                <p style="padding-left:20px">Developed by group 2</p>
            </div>
        </div>
        <div class="container" style="margin-top: 3%">
                <div class="row">
                    <div class="col-xs-3" style="padding-top: 10px;padding-bottom:10px">
                        <img src="https://avatars0.githubusercontent.com/u/8963253?v=3" class="img-circle" height="200" width="200"/>
                    </div>

                <div class="col-xs-5" style="padding-top: 50px">
                    <div class="billboard">
                        <h3>Marcos Ferreira</h3>
                        <ul>
                            <li>Número : 35444</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <hr/>

        <div class="container" style="margin-top: 3%">
            <div class="row">
                <div class="col-xs-3" style="padding-top: 10px;padding-bottom:10px">
                    <img src="https://avatars1.githubusercontent.com/u/15985277?v=3" class="img-circle" height="200" width="200"/>
                </div>
                <div class="col-xs-7" style="padding-top: 50px">
                    <div class="billboard">
                        <h3>Gonçalo Veloso</h3>
                        <ul>
                            <li>Número : 41482</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <hr/>

        <div class="container" style="margin-top: 3%">
            <div class="row">
                <div class="col-xs-3" style="padding-top: 10px;padding-bottom:10px">
                    <img src="https://avatars2.githubusercontent.com/u/6016433?v=3" class="img-circle" height="200" width="200"/>
                </div>

                <div class="col-xs-5" style="padding-top: 50px">
                    <div class="billboard">
                        <h3>André Carvalho</h3>
                        <ul>
                            <li>Número : 41839</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>