<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Result</title>
        <link rel="stylesheet" type="text/css" href="./bootstrap.min.css">
    </head>
    <body>
        <div class="container">
            <h2>Checklists</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Closed</th>
                        <th>DueDate</th>
                        <th>References Template #</th>
                    </tr>
                </thead>
                <tbody>
                {{#FOR}}{{self}}
                    <tr>
                        <td>{{id}}</td>
                        <td>{{name}}</td>
                        <td>{{description}}</td>
                        <td>{{closed}}</td>
                        {{#REPLACE_NULL}}<td>{{dueDate}}</td>
                        {{#REPLACE_NULL}}<td>{{Tp_id}}</td>
                    </tr>
                {{#END}}{{self}}
                </tbody>
            </table>
        </div>
    </body>
</html>