<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Result</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    </head>
    <body>
        <div class="jumbotron">
            <div class="container">
                {{#FOR}}{{Checklist}}
                <h1 style="display:inline; margin-left:10px"><a href="/checklists"><img src="https://maxcdn.icons8.com/Share/icon/Arrows//back1600.png" style="width:24px;height:24px;border:0;float:left;margin-top:25px;"></a>Checklist {{id}}</h1>
                {{#END}}{{Checklist}}
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xs-5" style="padding-top: 50px;">
                    {{#FOR}}{{Checklist}}
                    <h1>Name : {{name}}</h1>
                    <p>Description : {{description}}</p>
                    {{#NOT_NULL}}<p>Due : {{dueDate}}</p>
                    {{#END}}{{Checklist}}
                    {{#FOR}}{{Template}}
                    <p>Base template : <a href="/templates/{{Tp_id}}">{{Tp_name}}</a></p>
                    {{#END}}{{Template}}
                </div>
                <div class="col-xs-3" style="padding-top: 50px">
                    <div class="billboard">
                        <h3>Tasks:</h3>
                        <ul>
                            {{#FOR}}{{Checklist_Task}}
                            {{#NOT_NULL}}<li>{{Cl_Task_name}}</li>
                            {{#END}}{{Checklist_Task}}
                        </ul>
                    </div>
                </div>
                <div class="col-xs-3" style="padding-top: 50px">
                    <div class="billboard">
                        <h3>Tags:</h3>
                        <ul>
                            {{#FOR}}{{Tag}}
                            {{#NOT_NULL}}<li><a href="/tags/{{Tg_id}}">{{Tg_name}}</a></li>
                            {{#END}}{{Tag}}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>