<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Result</title>
        <link rel="stylesheet" type="text/css" href="./bootstrap.min.css">
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-xs-5" style="padding-top: 50px;">
                    {{#FOR}}{{Checklist}}
                    <h1>{{name}}</h1>
                    <p>{{description}}</p>
                    {{#NOT_NULL}}<p>{{dueDate}}</p>
                    {{#END}}{{Checklist}}
                    <h4 style="padding-top:50px">Base Template:</h4>
                    <ul>
                        {{#FOR}}{{Template}}
                        <li>{{Tp_name}}</li>
                        {{#END}}{{Template}}
                    </ul>
                </div>
                <div class="col-xs-3" style="padding-top: 50px">
                    <div class="billboard">
                        <h3>Tasks:</h3>
                        <ul>
                            {{#FOR}}{{Checklist_Task}}
                            <li>{{Cl_Task_name}}</li>
                            {{#END}}{{Checklist_Task}}
                        </ul>
                    </div>
                </div>
                <div class="col-xs-3" style="padding-top: 50px">
                    <div class="billboard">
                        <h3>Tags:</h3>
                        <ul>
                            {{#FOR}}{{Tag}}
                            <li>{{Tg_name}}</li>
                            {{#END}}{{Tag}}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>