<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Result</title>
        <link rel="stylesheet" type="text/css" href="./bootstrap.min.css">
    </head>
    <body>
        <div class="jumbotron">
            <nav>
                <ul class="nav nav-pills pull-right" style="padding-top:35px;padding-right:20px">
                    <li role="presentation" class="active"><a href="/checklists">All</a></li>
                    <li role="presentation"><a href="/checklists/closed">Closed</a></li>
                    <li role="presentation"><a href="/checklists/open/sorted/duedate">By Date</a></li>
                    <li role="presentation"><a href="/checklists/open/sorted/noftasks">By #Tasks</a></li>
                </ul>
            </nav>
            <div class="container">
                <h1>Checklists</h1>
            </div>
        </div>
        <div class="container">
            <div class="container">
                {{#FOR}}{{self}}
                <h4><a href="/checklists/{{id}}">Name : {{name}}</a></h4>
                <p>Description : {{description}}</p>
                {{#NOT_NULL}}<a href="/templates/"{{Tp_id}}>Based on template number : {{Tp_id}}</a>
                {{#REMOVE_ON_LAST}}<hr/>
                {{#END}}{{self}}
            </div>
        </div>
    </body>
</html>