<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Hello</title>
        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
        <!--Import Google Icon Font-->
        <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </head>
    <body>
        <nav>
            <div class="nav-wrapper">
                <span style="font-size: 24px;padding-left: 16px">Welcome!</span>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="/about">About</a></li>
                </ul>
            </div>
        </nav>
        <div class="container">
            <a href="/checklists"><h3>Checklists:</h3></a>
            <div class="row">
                {{#FOR}}{{Checklist}}
                <div class="grid-element-wrap col m5 l4">
                    <div class="card-panel small yellow darken-1">
                        <div class="card-content white-text">
                            <span class="card-title">{{name}}</span>
                            <p>{{description}}</p>
                        </div>
                    </div>
                </div>
                {{#END}}{{Checklist}}
                <p style="margin-top:30px;margin-left:25px"><strong>{{message_checklists}}</strong></p>
            </div>
            <hr/>
            <a href="/templates"><h3>Templates:</h3></a>
            <div class="row">
                {{#FOR}}{{Template}}
                <div class="grid-element-wrap col m5 l4">
                    <div class="card-panel small yellow darken-1">
                        <div class="card-content white-text">
                            <span class="card-title">{{Tp_name}}</span>
                            <p>{{Tp_desc}}</p>
                        </div>
                    </div>
                </div>
                {{#END}}{{Template}}
                <p style="margin-top:30px;margin-left:25px"><strong>{{message_templates}}</strong></p>
            </div>
            <hr/>
            <a href="/tags"><h3>Tags:</h3></a>
            <div class="row">
                {{#FOR}}{{Tag}}
                <div class="grid-element-wrap col m5 l4">
                    <div class="card-panel small yellow darken-1">
                        <div class="card-content white-text">
                            <span class="card-title">{{Tg_name}}</span>
                            <p>{{Tg_color}}</p>
                        </div>
                    </div>
                </div>
                {{#END}}{{Tag}}
                <p style="margin-top:30px;margin-left:25px"><strong>{{message_tags}}</strong></p>
            </div>
        </div>
    </body>
</html>