<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Result</title>
        <link rel="stylesheet" type="text/css" href="./bootstrap.min.css">
    </head>
    <body>
        <div class="jumbotron">
            <div class="container">
                <h1>Tags</h1>
            </div>
        </div>
        <div class="container">
            <div class="container">
                {{#FOR}}{{self}}
                <h4><a href="/tags/{{Tg_id}}">Name : {{Tg_name}}</a></h4>
                <p>Color : {{Tg_color}}</p>
                {{#REMOVE_ON_LAST}}<hr/>
                {{#END}}{{self}}
            </div>
        </div>
    </body>
</html>