<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Tags</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    </head>
    <body>
        <div class="jumbotron" style="posistion:relative; z-index: 1; box-shadow: 0 4px 6px -6px black;">
            <div class="container">
                <h1 style="display:inline; margin-left:10px"><a href="/"><img src="https://maxcdn.icons8.com/Share/icon/Arrows//back1600.png" style="width:24px;height:24px;border:0;float:left;margin-top:25px;"></a>Tags</h1>
            </div>
        </div>
        <div class="container">
            <div class="container">
                {{#FOR}}{{self}}
                <h4>Name : <a href="/tags/{{Tg_id}}">{{Tg_name}}</a></h4>
                <p><strong>Color</strong> : {{Tg_color}}</p>
                {{#REMOVE_ON_LAST}}<hr/>
                {{#END}}{{self}}
            </div>
        </div>
    </body>
</html>