<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Result</title>
        <link rel="stylesheet" type="text/css" href="./bootstrap.min.css">
    </head>
    <body>
    <div class="container">
        <h2>Templates</h2>
        <div class="container">
            {{#FOR}}{{self}}
            <h4><a href="/templates/{{Tp_id}}">{{Tp_name}}</a></h4>
            <p>{{Tp_desc}}</p>
            {{#REMOVE_ON_LAST}}<hr/>
            {{#END}}{{self}}
        </div>
    </div>
    </body>
</html>