<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        {{#FOR}}{{Template}}
            <title>Template "{{Tp_name}}"</title>
        {{#END}}{{Template}}
        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
        <!--Import Google Icon Font-->
        <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        
        <script>
            function prepareView(){
                if(document.getElementById("tasks").children.length <= 2){
                document.getElementById("message_tasks").innerHTML = "<strong>There aren't any Tasks associated with this Template.</strong>"
                }
                if(document.getElementById("checklists").children.length <= 2){
                document.getElementById("message_checklists").innerHTML = "<strong>There aren't any Checklists associated with this Template.</strong>"
                }
            }
        </script>
    </head>
    <body onload = "prepareView()">
        <nav>
            <div class="nav-wrapper">
                {{#FOR}}{{Template}}
                <a href="/templates" class="brand-logo" style="padding-left: 10px;"><i class="material-icons">chevron_left</i></a>
                <span style="font-size: 24px;padding-left: 32px">Template "{{Tp_name}}"</span>
                {{#END}}{{Template}}
            </div>
        </nav>
        <div class="row">
            <div class="col s3" style="padding-top: 80px;">
                <ul class="collection" style="border:0px">
                    {{#FOR}}{{Template}}
                    <li class="collection-item avatar">
                        <i class="material-icons circle">list</i>
                        <span class="title">{{Tp_name}}</span>
                        <p><strong>Description</strong> : {{Tp_desc}}</p>
                    </li>
                    {{#END}}{{Template}}
                </ul>
            </div>
            <div class="col s5" style="border-left:1px solid #e0e0e0; height: 750px;margin-top: 50px;margin-bottom: 50px">
                <ul class="collection with-header" id="tasks" style="border:0px;padding-left: 15px;padding-right: 15px">
                    <li class="collection-header"><h4>Tasks</h4></li>
                    {{#FOR}}{{Template_Task}}
                    <li class="collection-item avatar">
                        <i class="material-icons circle">list</i>
                        <span class="title">{{Tp_Task_name}}</span>
                    </li>
                    {{#END}}{{Template_Task}}
                    <p id="message_tasks" style="margin-top:30px;margin-left:25px"></p>
                </ul>
                <br>
                <ul class="collection with-header" id="checklists" style="border:0px;padding-left: 15px;padding-right: 15px">
                    <li class="collection-header"><h4>Checklists</h4></li>
                    {{#FOR}}{{Checklist}}
                    <li class="collection-item avatar">
                        <i class="material-icons circle">list</i>
                        <span class="title"><a href="/checklists/{{id}}">{{name}}</a></span>
                    </li>
                    {{#END}}{{Checklist}}
                    <p id="message_checklists" style="margin-top:30px;margin-left:25px"></p>
                </ul>
            </div>
            <div class="col s4" style="padding-left: 20px; padding-right: 20px; border-left:1px solid #e0e0e0; height: 750px;margin-top: 50px;margin-bottom: 50px">
                <div style="padding-left:10px;padding-right:10px">
                    {{#FOR}}{{Template}}
                    <form action="/templates/{{Tp_id}}/tasks" method="post">
                        {{#END}}{{Template}}
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="">Add a task</h3>
                            </div>
                            <div class="panel-body">
                                <div class="input-field col s12">
                                    <input type="text" class="form-control" name="name"
                                    required="required" pattern="[A-Za-z0-9]{1,80}" placeholder="Name">
                                </div>
                                <br>
                                <div class="input-field col s12">
                                    <input type="text" class="form-control" name="description" required="required" pattern="[A-Za-z0-9]{1,4000}" placeholder="Description">
                                </div>
                                <br>
                                <div>
                                    <center><button class="btn btn-primary" type="submit">Add</button></center>
                                </div>
                            </div>
                        </div>
                    </form>
                    
                    <br>
                    {{#FOR}}{{Template}}
                    <form action="/templates/{{Tp_id}}/create" method="post">
                        {{#END}}{{Template}}
                        <div style="padding-left:10px;padding-right:10px">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="">Create Checklist</h3>
                                </div>
                                <div class="panel-body">
                                    <div class="input-field col s12">
                                        <input type="text" class="form-control" name="name"
                                        required="required" pattern="[A-Za-z0-9]{1,80}" placeholder="Name">
                                    </div>
                                    <br>
                                    <div class="input-field col s12">
                                        <input type="text" class="form-control" name="description" required="required" pattern="[A-Za-z0-9]{1,4000}" placeholder="Description">
                                    </div>
                                    <br>
                                    <div class="input-field col s12">
                                        <input type="text" class="form-control" name="dueDate" placeholder="[Optional] DueDate">
                                    </div>
                                    <br>
                                    <div>
                                        <center><button class="btn btn-primary" type="submit">Create</button></center>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>