<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Result</title>
        <link rel="stylesheet" type="text/css" href="./bootstrap.min.css">
    </head>
    <body>
        <div class="container">
            <h2>Templates</h2>
            <table class="table">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Description</th>
                </tr>
                </thead>
                <tbody>
                {{#FOR}}{{self}}
                <tr>
                    <td>{{Tp_id}}</td>
                    <td>{{Tp_name}}</td>
                    <td>{{Tp_desc}}</td>
                </tr>
                {{#END}}{{self}}
                </tbody>
            </table>
        </div>
    </body>
</html>