<!DOCTYPE html>
<html>
    <head>
        <title>{{page_title}}</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="./bootstrap.min.css">
    </head>
    <body>
        <table class="table">
            <tr>
                {{#FOR}}<th>{{table_header}}</th>
            </tr>
            {{#FOR_M}}{{0}}
            <tr>
                {{#FOR}}<td>{{table_value}}</td>
            </tr>
            {{#END_M}}{{0}}
        </table>
    </body>
</html>