<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Checklists</title>
        <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />

        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <script src="/js/utils.js"></script>
    </head>
    <body onload = "prepareView_Checklist()">
        <nav>
            <div class="nav-wrapper">
            <a href="/" class="brand-logo" style="padding-left: 10px;"><i class="material-icons">chevron_left</i></a>
                <span style="font-size: 24px;padding-left: 32px">Checklists</span>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li role="presentation" id="nav_0"><a href="/checklists">All</a></li>
                    <li role="presentation" id="nav_1"><a href="/checklists/closed">Closed</a></li>
                    <li role="presentation" id="nav_2"><a href="/checklists/open/sorted/duedate">By Date</a></li>
                    <li role="presentation" id="nav_3"><a href="/checklists/open/sorted/noftasks">By #Tasks</a></li>
                </ul>
            </div>
        </nav>
        <div class="row" >
            <div class="col s12" id="body_content" style="padding-top: 50px;padding-left:30px">
                {{#FOR}}{{self}}
                <div class="grid-element-wrap col m5 l3">
                    <div class="card small yellow darken-1 hoverable" style="height: 250px; width: 250px">
                        <div class="card-content white-text">
                            <span class="card-title">{{name}}<i class="material-icons tooltipped" style="float:right;color:#757575" data-position="bottom" data-delay="50" data-tooltip="Delete">close</i></span>
                            <p><strong>Description: </strong>{{description}}</p>
                            {{#NOT_NULL}}<p><strong>Due Date: </strong>{{dueDate}}</p>
                            {{#NOT_NULL}}<p><strong>Based on Template: </strong><a href="/templates/{{Tp_id}}"> {{Tp_name}}</a></p>
                        </div>
                        <div class="card-action">
                            <a style="color:#f57f17" href="/checklists/{{id}}">Details</a>
                            <i class="material-icons tooltipped" style="float:right;color:#757575" data-position="bottom" data-delay="50" data-tooltip="Delete">delete</i>
                        </div>
                    </div>
                </div>
                {{#END}}{{self}}
            </div>
        </div>

        <div class="fixed-action-btn">
            <a class="btn-floating btn-large red tooltipped hoverable" data-position="left" data-delay="50" data-tooltip="Create Checklist" data-target="modal1"><i class="large material-icons">mode_edit</i></a>
        </div>

        <!-- Modal Structure -->
        <div id="modal1" class='modal modal-fixed-footer'>
            <div class="modal-content">
                <br/>
                <h4>Create Checklist</h4>
                <br/>
                <form id="checklist_submit" action="/checklists" method="post">
                    <div class="col-md-3" style="padding-left:10px;padding-right:10px">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="input">
                                    <input type="text" id="checklist_name" class="form-control" name="name" placeholder="Name">
                                </div>
                                <br>
                                <div class="input">
                                    <input type="text" id="checklist_description" class="form-control" name="description" placeholder="Description">
                                </div>
                                <br>
                                <div class="input">
                                    <input type="date" id="checklist_duedate" class="datepicker" name="dueDate" placeholder="DueDate">
                                </div>
                                <br/>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class='modal-footer'>
                <button class="btn btn-primary" onClick="return validateSubmission_Checklist()">Create</button>
                <a href="" onclick="return false" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
            </div>
        </div>
    </body>
</html>