<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        {{#FOR}}{{Checklist}}
        <title>Checklist "{{name}}"</title>
        {{#END}}{{Checklist}}
        <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />
        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script> 
        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <script src="/js/utils.js"></script>
    </head>
    <body onload="prepareChecklist_Detailed()">
        <nav>
            <div class="nav-wrapper">
                {{#FOR}}{{Checklist}}
                <a href="/checklists" class="brand-logo" style="padding-left: 10px;"><i class="material-icons">chevron_left</i></a>
                <span style="font-size: 24px;padding-left: 32px">Checklist "{{name}}"</span>
                {{#END}}{{Checklist}}
            </div>
        </nav>
        <div class="row">
            <div class="col s4" style="padding-top: 80px;">
                <ul class="collection" style="margin-left: 0px; border:0px">
                    {{#FOR}}{{Checklist}}
                    <li class="collection-item avatar">
                        <i class="material-icons circle">list</i>
                        <span class="title">{{name}}</span>
                        <p><strong>Description: </strong>{{description}}</p>
                        {{#NOT_NULL}}<p><strong>Due Date: </strong>{{dueDate}}</p>
                        {{#NOT_NULL}}<p><strong>Based on Template: </strong><a href="/templates/{{Tp_id}}"> {{Tp_name}}</a></p>
                    </li>
                    {{#END}}{{Checklist}}
                </ul>
            </div>
            <div class="col s4" style="border-left:1px solid #e0e0e0; height: 570px;margin-top: 50px;margin-bottom: 50px">
                <ul class="collection with-header" id="ul_Tasks" style="border:0px;padding-left: 15px;padding-right: 15px">
                    <li class="collection-header"><h4>Tasks</h4></li>
                    {{#FOR}}{{Checklist_Task}}
                    <li class="collection-item avatar" id="li_{{Cl_Task_id}}" data="{{Cl_isClosed}}">
                        <i class="material-icons circle">list</i>
                        <span class="title">{{Cl_Task_name}}</span>
                        <form id="form_{{Cl_Task_id}}" action="/" method="post" style="margin-top:5px">
                            <input type="checkbox" id="checkbox_{{Cl_Task_id}}" class="filled-in" name="isClosed" onChange="this.form.submit()"/>
                            <label for="checkbox_{{Cl_Task_id}}" id="checkbox_{{Cl_Task_id}}_state">null</label>
                        </form>
                    </li>
                    {{#END}}{{Checklist_Task}}
                    <li><p id="message_task" style="margin-top:30px;margin-left:25px"></p></li>
                </ul>
            </div>

            <div class="col s4" style="padding-left: 20px; padding-right: 20px; border-left:1px solid #e0e0e0; height: 570px;margin-top: 50px;margin-bottom: 50px">
                <ul class="collection with-header" id="ul_Tags" style="border:0px;padding-left: 15px;padding-right: 15px">
                    <li class="collection-header"><h4>Tags</h4></li>
                    {{#FOR}}{{Tag}}
                    <li class="collection-item avatar">
                        <i class="material-icons circle">list</i>
                        <span class="title"><a href="/tags/{{Tg_id}}">{{Tg_name}}</a> - <a href="/tags/{{Tg_id}}/checklists">Detailed</a></span>
                         <p><strong>Color: </strong><button type="button" class="btn-floating btn-large waves-effect waves-light {{Tg_color}}" style="margin-bottom:3px; height:12px;width:12px"></button></p>
                    </li>
                    {{#END}}{{Tag}}
                    <li><p id="message_tags" style="margin-top:30px;margin-left:25px"></p></li>
                </ul>
            </div>

            <div class="fixed-action-btn">
                <a class="btn-floating btn-large red">
                    <i class="large material-icons">mode_edit</i>
                </a>
                <ul>
                    <li><a class="btn-floating red tooltipped hoverable" data-position="left" data-delay="50" data-tooltip="Create Tag" data-target="modal1"><i class="material-icons">label</i></a></li>
                    <li><a class="btn-floating red tooltipped hoverable" data-position="left" data-delay="50" data-tooltip="Create Task" data-target="modal2"><i class="material-icons">assignment</i></a></li>
                </ul>
            </div>

            <!-- Modal Structure -->
            <div id ="modal1" class='modal modal-fixed-footer'>
                <div class='modal-content'>
                    <br>
                    <h4>Create Tag</h4>
                    <br/>
                    {{#FOR}}{{Checklist}}
                    <form id="tag_submit" action="/checklists/{{id}}/tags/create" method="post">
                        {{#END}}{{Checklist}}
                        <div class="input-field">
                            <input type="text" id="tag_name" class="form-control" name="name" placeholder="Name">
                        </div>
                        <br>
                        <div class="input-field">
                            <select name ="color" id="tag_color">
                                <option value="" disabled selected>Choose your option</option>
                                <option data-icon="/images/f44336.png" class="left circle" value="red">Red</option>
                                <option data-icon="/images/e91e63.png" class="left circle" value="pink">Pink</option>
                                <option data-icon="/images/9c27b0.png" class="left circle" value="purple">Purple</option>
                                <option data-icon="/images/3f51b5.png" class="left circle" value="indigo">Indigo</option>
                                <option data-icon="/images/2196f3.png" class="left circle" value="blue">Blue</option>
                                <option data-icon="/images/00bcd4.png" class="left circle" value="cyan">Cyan</option>
                                <option data-icon="/images/009688.png" class="left circle" value="teal">Teal</option>
                                <option data-icon="/images/4caf50.png" class="left circle" value="green">Green</option>
                                <option data-icon="/images/ffeb3b.png" class="left circle" value="yellow">Yellow</option>
                                <option data-icon="/images/ffc107.png" class="left circle" value="amber">Amber</option>
                                <option data-icon="/images/ff9800.png" class="left circle" value="orange">Orange</option>
                                <option data-icon="/images/ff5722.png" class="left circle" value="deep-orange">Deep Orange</option>
                                <option data-icon="/images/795548.png" class="left circle" value="brown">Brown</option>
                                <option data-icon="/images/9e9e9e.png" class="left circle" value="grey">Grey</option>
                                <option data-icon="/images/607d8b.png" class="left circle" value="blue-grey">Blue Grey</option>
                            </select>
                            <label>Select a Color</label>
                        </div>
                        <br>
                    </form>
                </div>
                <div class='modal-footer'>
                    <button class="btn btn-primary" onClick="return validateSubmission_Tag()">Create</button>
                    <a href="" onclick="return false" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
                </div>
            </div>

            <div id = "modal2" class='modal modal-fixed-footer'>
                <div class="modal-content">
                    <br/>
                    <h4>Create Task</h4>
                    <br/>
                    {{#FOR}}{{Checklist}}
                    <form id="task_submit" action="/checklists/{{id}}/tasks" method="post">
                        {{#END}}{{Checklist}}
                        <div class="col-md-3" style="padding-left:10px;padding-right:10px;">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <div class="input">
                                        <input type="text" id="task_name" class="form-control" name="name" placeholder="Name">
                                    </div>
                                    <br>
                                    <div class="input">
                                        <input type="text" id="task_description" class="form-control" name="description" placeholder="Description">
                                    </div>
                                    <br>
                                    <div class="input">
                                        <input type="date" id="task_duedate" class="datepicker" name="dueDate" placeholder="DueDate">
                                    </div>
                                    <br/>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class='modal-footer'>
                    <button class="btn btn-primary" onClick="return validateSubmission_Task()">Create</button>
                    <a href="" onclick="return false" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
                </div>
            </div>
        </div>
    </body>
</html>