<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        {{#FOR}}{{Tag}}
            <title>Tag "{{Tg_name}}"</title>
        {{#END}}{{Tag}}
        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
        <!--Import Google Icon Font-->
        <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <script src="/js/utils.js"></script>
    </head>
    <body onload = "prepareTag_Detailed()">
        <nav>
            <div class="nav-wrapper">
                <a href="{{link}}" class="brand-logo" style="padding-left: 10px;"><i class="material-icons">chevron_left</i></a>
                {{#FOR}}{{Tag}}
                    <span style="font-size: 24px;padding-left: 32px">Tag "{{Tg_name}}"</span>
                {{#END}}{{Tag}}
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="/tags/{{id}}/checklists"><strong>{{message}}</strong></a></li>
                </ul>
            </div>
        </nav>
        <div class="row">
            <div class="col s4" style="padding-top: 80px;">
                <ul class="collection" style="border:0px">
                    {{#FOR}}{{Tag}}
                    <li class="collection-item avatar">
                        <i class="material-icons circle">list</i>
                        <span class="title">{{Tg_name}}</span>
                        <p><strong>Color: </strong><button type="button" class="btn-floating btn-large waves-effect waves-light {{Tg_color}}" style="margin-bottom:2px; height:10px;width:10px"></button></p>
                    </li>
                    {{#END}}{{Template}}
                </ul>
            </div>
            <div class="col s4" style="padding-top: 50px">
                <ul class="collection with-header" id="checklists" style="border:0px">
                    <li class="collection-header"><h4>Checklists</h4></li>
                    {{#FOR}}{{Checklist}}
                    <li class="collection-item avatar">
                        <i class="material-icons circle">list</i>
                        <span class="title"><a href="/checklists/{{id}}">{{name}}</a></span>
                    </li>
                    {{#END}}{{Checklist}}
                    <p id="message_checklists" style="margin-top:30px;margin-left:25px"></p>
                </ul>
            </div>
        </div>
    </body>
</html>