<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Templates</title>
        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
        <!--Import Google Icon Font-->
        <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </head>
    <body>
        <nav>
            <div class="nav-wrapper">
                <a href="/" class="brand-logo" style="padding-left: 10px;"><i class="material-icons">chevron_left</i></a>
                <span style="font-size: 24px;padding-left: 32px">Templates</span>
            </div>
        </nav>
        <div class="row" >
            <div class="col s8" style="padding-top: 50px;">
                {{#FOR}}{{self}}
                <div class="grid-element-wrap col m5 l4">
                    <div class="card small yellow darken-1" style="height: 250px; width: 250px">
                        <div class="card-content white-text">
                            <span class="card-title">{{Tp_name}}</span>
                            <p><strong>Description: </strong>{{Tp_desc}}</p>
                        </div>
                        <div class="card-action">
                            <a href="/templates/{{Tp_id}}">Details</a>
                        </div>
                    </div>
                </div>
                {{#END}}{{self}}
            </div>
            <div class="col s4" style="padding-top: 50px;padding-left: 20px; padding-right: 20px">
                <form action="/templates" method="post">
                    <div class="col-md-3" style="padding-left:10px;padding-right:10px">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="">Create Template</h3>
                            </div>
                            <div class="panel-body">
                                <div class="input">
                                    <input type="text" class="form-control" name="name" required="required" pattern="[A-Za-z0-9]{1,80}" placeholder="Name">
                                </div>
                                <p></p>
                                <div class="input">
                                    <input type="text" class="form-control" name="description" required="required" pattern="[A-Za-z0-9]{1,4000}" placeholder="Description">
                                </div>
                                <p></p>
                                <h2></h2>
                                <div >
                                    <center><button class="btn btn-primary" type="submit" onClick="return validateSubmission_Template()">Create</button></center>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>